html, body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
}

.group_100{
  background-color: #ED4C5C;
  width: 1440px;
  height: 500px;
  color: #ffffff;
  position: relative;
}

.block_111{
  font-size: 2.25rem;
  font-style: normal;
  line-height: 43px;
  width: 445px;
  height: 107px;
  top: 122px;
  left: 130px;
  position: absolute;
}

.block_112{
  width: 445px;
  height: 64px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  top: 253px;
  left: 130px;
  text-align: justify;
  position: absolute;
}

.dawnload{
  width: 142px;
  height: 32px;
  bottom: 111px;
  left: 128px;
  position: absolute;
}

.win{
  margin-left: 25px;
  margin-bottom: 4px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.google{
  margin-right: 25px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.apple{
  height: 28px;
  width: 28px;
  margin-bottom: 2px;
  cursor: pointer;
}

.img{
  left: 691px;
  top: 94px;
  position: absolute;
}

.group_200{
  width: 1440px;
  height: 500px;
  color: #000000;
  position: relative;
  margin-bottom: 45px;
}

.block_211{
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  position: absolute;
  width: 445px;
  height: 107px;
  top: 117px;
  left: 130px;
}

.block_212{
  width: 434px;
  height: 64px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  top: 213px;
  left: 130px;
  text-align: justify;
  position: absolute;
}

.ln{
  height: 60px;
  width: 17.7%;
  left: 975px;
  top: 117px;
  position: absolute;
  border: 1px solid #333333;
  border-radius: 6px;
}

.fn{
  height: 60px;
  width: 17.7%;
  left: 690px;
  top: 117px;
  position: absolute;
  border: 1px solid #333333;
  border-radius: 6px;
}

.pn{
  height: 60px;
  width: 37.5%;
  left: 690px;
  top: 201px;
  position: absolute;
  border: 1px solid #333333;
  border-radius: 6px;
}

.sl{
  height: 60px;
  width: 37.5%;
  left: 690px;
  top: 285px;
  position: absolute;
  border: 1px solid #333333;
  border-radius: 6px;
  background-image: url(./icons/arrow.svg);
  background-position: right 5% center;
  background-repeat: no-repeat;
}

.button{
  width: 160px;
  height: 50px;
  position: absolute;
  top: 372px;
  left: 690px;
  background-color: #ED4C5C;
  border-radius: 6px;
  font-size: 0.875rem;
  color: #fff;
  cursor: pointer;
  border: 1.5px solid #ED4C5C;
}

.group_300{
  background-color: #fafafa;
  width: 1440px;
  height: 435px;
  color: #101010;
  position: relative;
}

.block_311{
  font-size: 17px;
  font-weight: bold;
  top: 85px;
  left: 130px;
  position: absolute;

}

.block_312{
  font-size: 17px;
  font-weight: bold;
  left: 420px;
  top: 85px;
  position: absolute;
}

.block_322{
  position: absolute;
  top: 135px;
  left: 420px;
}

.block_313{
  font-size: 17px;
  font-weight: bold;
  left: 705px;
  top: 85px;
  position: absolute;
}

.block_323{
  position: absolute;
  top: 140px;
  left: 704px;
}

.block_333{
  position: absolute;
  top: 165px;
  left: 704px;
}

.block_343{
  position: absolute;
  display: flex;
  left: 704px;
  top: 199px;
  justify-content: space-between;
  width: 66px;
}

.block_314{
  font-size: 17px;
  font-weight: bold;
  left: 992px;
  top: 85px;
  position: absolute;
}

p{
  font-size: 12px;
  font-weight: bold;
  line-height: 150%;
  font-style: normal;
}

.block_321{
  position: absolute;
  top: 140px;
  left: 131px;
}

.block_331{
  position: absolute;
  top: 335px;
  left: 131px;
}

.block_324{
  position: absolute;
  top: 140px;
  left: 998px;
}
